.bottomline-container {
    background-color: #DAEAF1;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
  }
  
  .bottomline-heading {
    color: #11324D;
    font-size: 2rem;
    font-weight: bold;
  }
  