.detail-section {
  padding: 2rem;
  background-color: #F6F9FB;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.detail-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #11324D;
}

.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.detail-text {
  flex: 1 1 50%;
  padding: 1.5rem;
  perspective: 1000px;
}

.detail-text p {
  background-color: #FFFFFF;
  padding: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0);
  transform: perspective(1000px) rotateY(0deg) translateZ(-20px);
  transition: transform 0.5s ease;
}

.detail-text:hover p {
  transform: perspective(1000px) rotateY(0deg) translateZ(0);
}

.detail-image {
  flex: 1 1 50%;
  padding: 1rem;
  text-align: center;
}

.detail-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.detail-image:hover img {
  transform: rotateX(0deg) translateY(0px);
}

@media (max-width: 768px) {
  .detail-wrapper {
    flex-direction: column;
  }
  
  .detail-text,
  .detail-image {
    flex-basis: 100%;
  }
}
